---
- name: remove nvim files and directories
  ansible.builtin.file:
    state: absent
    path: /opt/nvim-linux-x86_64
  tags: 
    - nvim
    - editor
  become: true
  when: is_fedora or is_ubuntu

- name: remove nvim config files and directories
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/.config/nvim"
  tags: 
    - nvim
    - editor
  become: true
  

- name: Create nvim config directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
  with_items:
    - "{{ user_home }}/.config/nvim"
  tags: 
    - nvim
    - editor
  become: true

- name: Copy init.lua file
  copy:
    src: "{{ item }}"
    dest: "{{ user_home }}/.config/nvim"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0644
  loop:
    - init.lua
  tags: 
    - nvim
    - editor
  become: true

- name: Copy initcolors.lua file
  copy:
    src: "{{ item }}"
    dest: "{{ user_home }}/.config/nvim/lua/"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0644
  loop:
    - initcolors.lua
  tags: 
    - nvim
    - editor
  become: true

- name: Download/unarchive nvim Package
  unarchive:
    src: "https://github.com/neovim/neovim/releases/download/{{ nvim_version }}/nvim-linux-x86_64.tar.gz"
    dest: /opt
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    remote_src: yes
    # creates: /opt/nvim-linux64
  tags: 
    - nvim
    - editor
  become: true
  when: is_fedora or is_ubuntu

#  apk add --no-cache neovim=0.10.4-r0

- name: Add nvim path to .bashrc
  ansible.builtin.lineinfile:
    path: "{{ user_home }}/.bashrc_custom"
    line: export PATH=$PATH:/opt/nvim-linux-x86_64/bin
  tags: 
    - nvim
    - editor
  become: true
  when: is_fedora or is_ubuntu