---
- name: remove nvim files and directories
  ansible.builtin.file:
    state: absent
    path: "{{ nvim_dir }}"
  tags: nvim
  become: true

- name: remove nvim config files and directories
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/.config/nvim"
  tags: nvim
  become: true

- name: Create nvim config directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
  with_items:
    - "{{ user_home }}/.config/nvim"
  tags: nvim
  become: true

- name: Copy init.lua file
  copy:
    src: "{{ item }}"
    dest: "{{ user_home }}/.config/nvim"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0644
  loop:
    - init.lua
  tags: nvim
  become: true

- name: Copy initcolors.lua file
  copy:
    src: "{{ item }}"
    dest: "{{ user_home }}/.config/nvim/lua/"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0644
  loop:
    - initcolors.lua
  tags: nvim
  become: true

- name: Download/unarchive nvim Package
  unarchive:
    src: https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz
    dest: /opt
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    remote_src: yes
    creates: /opt/nvim-linux64
  tags: nvim
  become: true
  when: is_fedora or  is_ubuntu
