---
- name: Install required packages
  package:
    name:
      - vim
    state: present
  become: yes
  
- name: remove vim files and directories
  ansible.builtin.file:
    state: absent
    path: "{{ root_vim_dir }}"

- name: remove existing vim symlinks
  ansible.builtin.file:
    state: absent
    path: "{{ root_user_home }}/{{ item }}"
  with_items:
    - "{{ root_vimrc }}"
    - vim_shortcuts.txt
        
- name: Create vim directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ root_user }}"
    group: "{{ root_user }}"
  with_items:
    - "{{ root_vim_dir }}"
    - "{{ root_vim_dir }}/autoload"
    - "{{ root_vim_dir }}/plugged"

- name: Copy vim files
  copy:
    src: "{{ item }}"
    dest: "{{ root_vim_dir }}"
    owner: "{{ root_user }}"
    group: "{{ root_user }}"
    mode: 0644
  loop:
    - .vimrc
    - vim_shortcuts.txt

- name: Create symbolic link 
  file:
   src: "{{ root_vim_dir }}/{{ item }}"
   dest: "{{ root_user_home }}/{{ item }}"
   state: link
   owner: "{{ root_user }}" 
   group: "{{ root_user }}"
  with_items:
    - .vimrc
    - vim_shortcuts.txt

- name: Download vim plug plugin manager
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: "{{ item }}"
    mode: '0440'
  with_items:
    - "{{ root_vim_dir }}/autoload"

- name: Change plugin mgr file ownership, group and permissions
  ansible.builtin.file:
    path: "{{ root_vim_dir }}/autoload/plug.vim"
    owner: "{{ root_user }}" 
    group: "{{ root_user }}"
    mode: '0644'


- name: Deploy plugins
  git:
    dest: "{{ root_vim_dir }}/plugged/{{ item.name }}"
    repo: "{{ item.url }}"
    clone: yes
    update: yes
    recursive: no
  loop:
  - name: delimitMate
    url: git@github.com:Raimondi/delimitMate.git
  - name: nerdtree
    url: git@github.com:preservim/nerdtree
  - name: minibufexpl.vim
    url: git@github.com:fholgado/minibufexpl.vim
  - name: molokai
    url: git@github.com:tomasr/molokai
  - name: cobalt
    url: git@github.com:gkjgh/cobalt.git
  - name: vim-airline
    url: git@github.com:vim-airline/vim-airline.git
  - name: setcolors.vim
    url: git@github.com:felixhummel/setcolors.vim
  - name: vim-fugitive
    url: git@github.com:tpope/vim-fugitive.git
  - name: vim-gitgutter
    url: git@github.com:airblade/vim-gitgutter.git
  - name: vim-quickui
    url: git@github.com:skywind3000/vim-quickui
  - name: vim-gutentags
    url: git@github.com:ludovicchabant/vim-gutentags.git




