---
# TODO ubuntu - install git, github, ssh keys etc before this step
- name: Install required packages
  package:
    name:
      - vim
      # - powerline-fonts
    state: present
  become: yes
  
- name: remove vim files and directories
  ansible.builtin.file:
    state: absent
    path: "{{ vim_dir }}"

- name: remove existing vim symlinks
  ansible.builtin.file:
    state: absent
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/{{ item }}"
  with_items:
    - "{{ vimrc }}"
    - vim_shortcuts.txt
        
- name: Create vim directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  with_items:
    - "{{ vim_dir }}"
    - "{{ vim_dir }}/autoload"
    - "{{ vim_dir }}/plugged"

- name: Copy vim files
  copy:
    src: "{{ item }}"
    dest: "{{ vim_dir }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
  loop:
    - .vimrc
    - vim_shortcuts.txt

- name: Create symbolic link 
  file:
   src: "{{ vim_dir }}/{{ item }}"
   dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/{{ item }}"
   state: link
   owner: "{{ user }}" 
   group: "{{ user }}"
  with_items:
    - .vimrc
    - vim_shortcuts.txt

- name: Download vim plug plugin manager
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: "{{ item }}"
    mode: '0440'
  with_items:
    - "{{ vim_dir }}/autoload"

# - name: TODO clone plugins needed from .vimrc

# - name: TODO Create vim extensions/colorschemes
#   file:
#    src: "{{ lookup('ansible.builtin.env', 'HOME') }}/bashfiles/dircolors256dark"
#    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.dircolors"
#    state: link
#    owner: "{{ user }}" 
#    group: "{{ user }}"  



