---
- name: remove files and directories
  ansible.builtin.file:
    state: "{{ item }}"
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/bashfiles"
    owner: "{{ user }}" # set your owner, group, and mode accordingly
    group: "{{ user }}"
    mode: '0777'
  with_items:
    - absent
    - directory  
    
- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/bashfiles"
    state: directory
    mode: '0755'

- name: Copy files
  copy:
    src: '{{item}}'
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/bashfiles"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
  loop:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh
    - dircolors256dark
    - dircolorsansi-light

- name: remove existing bash files from home
  ansible.builtin.file:
    state: absent
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/{{ item }}"
  with_items:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh
    - .dircolors

- name: Create symbolic link 
  file:
   src: "{{ lookup('ansible.builtin.env', 'HOME') }}/bashfiles/{{ item }}"
   dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/{{ item }}"
   state: link
   owner: "{{ user }}" 
   group: "{{ user }}"
  with_items:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh


- name: Create .dircolor symbolic link 
  file:
   src: "{{ lookup('ansible.builtin.env', 'HOME') }}/bashfiles/dircolors256dark"
   dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.dircolors"
   state: link
   owner: "{{ user }}" 
   group: "{{ user }}"  

# - name: TODO Setup dircolors
#   stat: path=/$HOME/.dircolors
#   register: dircolors
#   eval $(dircolors ~/.dircolors)

