---
- name: remove files and directories
  ansible.builtin.file:
    state: "{{ item }}"
    path: "{{ user_home }}/bashfiles"
    owner: "{{ target_user }}" # set your owner, group, and mode accordingly
    group: "{{ target_user }}"
    mode: '0777'
  with_items:
    - absent
    - directory 
  tags: 
    - shell
    - bash  
    
- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ user_home }}/bashfiles"
    state: directory
    mode: '0755'
  tags: 
    - shell
    - bash

- name: Copy bash files from shared common files
  copy:
    src: "{{ playbook_dir }}/files/common/{{ item }}"
    dest: "{{ user_home }}/bashfiles/{{ item }}"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0644
  loop:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh
    - dircolors256dark
    - dircolorsansi-light
  tags: 
    - shell
    - bash

- name: Add Google Cloud SDK to PATH in .bashrc_custom
  ansible.builtin.lineinfile:
    path: "{{ user_home }}/bashfiles/.bashrc_custom"
    line: 'export PATH="/usr/local/google-cloud-sdk/bin:$PATH"'
    insertafter: EOF
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
  when: gcp_cli_installed | default(false)
  tags: 
    - shell
    - bash

- name: remove existing bash files from home
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/{{ item }}"
  with_items:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh
    - .dircolors
  tags: 
    - shell
    - bash  

- name: Create symbolic link 
  file:
    src: "{{ user_home }}/bashfiles/{{ item }}"
    dest: "{{ user_home }}/{{ item }}"
    state: link
    follow: False
    owner: "{{ target_user }}" 
    group: "{{ target_user }}"
  with_items:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh
  tags: 
    - shell
    - bash  


- name: Create .dircolor symbolic link 
  file:
   src: "{{ user_home }}/bashfiles/dircolors256dark"
   dest: "{{ user_home }}/.dircolors"
   state: link
   owner: "{{ target_user }}" 
   group: "{{ target_user }}"  
  tags: 
    - shell
    - bash

# - name: Create bin directory if it does not exist
#   ansible.builtin.file:
#     path: "{{ user_home }}/bin"
#     state: directory
#     owner: "{{ target_user }}"
#     group: "{{ target_user }}"
#     mode: '0755'
#   tags: upgrade
#   become: true

# - name: Create temp directory if it does not exist
#   ansible.builtin.file:
#     path: "{{ user_home }}/tmp"
#     state: directory
#     owner: "{{ target_user }}"
#     group: "{{ target_user }}"
#     mode: '0755'
#   tags: upgrade
#   become: true