---
- name: remove files and directories
  ansible.builtin.file:
    state: "{{ item }}"
    path: "{{ user_home }}/bashfiles"
    owner: "{{ target_user }}" # set your owner, group, and mode accordingly
    group: "{{ target_user }}"
    mode: '0777'
  tags: upgrade
  with_items:
    - absent
    - directory  
    
- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ user_home }}/bashfiles"
    state: directory
    mode: '0755'
  tags: upgrade

- name: Copy files
  copy:
    src: '{{item}}'
    dest: "{{ user_home }}/bashfiles"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0644
  tags: upgrade
  loop:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh
    - dircolors256dark
    - dircolorsansi-light

- name: remove existing bash files from home
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/{{ item }}"
  tags: upgrade
  with_items:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh
    - .dircolors

- name: Create symbolic link 
  file:
    src: "{{ user_home }}/bashfiles/{{ item }}"
    dest: "{{ user_home }}/{{ item }}"
    state: link
    owner: "{{ target_user }}" 
    group: "{{ target_user }}"
  tags: upgrade
  with_items:
    - .alias
    - .bash_funcs
    - .bash_profile
    - .bashrc
    - .bashrc_custom
    - prompt.sh
    - variables.sh


- name: Create .dircolor symbolic link 
  file:
   src: "{{ user_home }}/bashfiles/dircolors256dark"
   dest: "{{ user_home }}/.dircolors"
   state: link
   owner: "{{ target_user }}" 
   group: "{{ target_user }}"  
  tags: upgrade

# - name: Create bin directory if it does not exist
#   ansible.builtin.file:
#     path: "{{ user_home }}/bin"
#     state: directory
#     owner: "{{ target_user }}"
#     group: "{{ target_user }}"
#     mode: '0755'
#   tags: upgrade
#   become: true

# - name: Create temp directory if it does not exist
#   ansible.builtin.file:
#     path: "{{ user_home }}/tmp"
#     state: directory
#     owner: "{{ target_user }}"
#     group: "{{ target_user }}"
#     mode: '0755'
#   tags: upgrade
#   become: true