---
- name: remove existing aws folder
  ansible.builtin.file:
    state: absent
    path: "/home/{{ target_user }}/tmp/aws"
  tags: aws_install
  become: true

- name: remove existing aws file
  ansible.builtin.file:
    state: absent
    path: "/home/{{ target_user }}/tmp/{{ item }}"
  with_items:
    - awscli-bundle.zip
  tags: aws_install
  become: true

- name: Download the awscli bundle.
  get_url: url=https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip dest="/home/{{ target_user }}/tmp/awscli-bundle.zip"
  tags: aws_install

- name: Unarchive the installer.
  unarchive: src="/home/{{ target_user }}/tmp/awscli-bundle.zip" dest="/home/{{ target_user }}/tmp" 
  tags: aaws_install

- name: Install awscli package.
  shell:  "/home/{{ target_user }}/tmp/aws/install --update"
  tags: aws_install
  become: true

- name: remove existing aws folder
  ansible.builtin.file:
    state: absent
    path: "/home/{{ target_user }}/tmp/aws"
  tags: aws_install
  become: true

- name: remove existing aws file
  ansible.builtin.file:
    state: absent
    path: "/home/{{ target_user }}/tmp/{{ item }}"
  with_items:
    - awscli-bundle.zip
  tags: aws_install
  become: true