---
- name: User - Ensure sudo group is present
  group:
    name: sudo
    state: present
  tags: 
    - user  

- name: User - Add the user {{ target_user }}
  ansible.builtin.user:
    name: "{{ target_user }}"
    password: "{{ target_user | password_hash('sha512') }}"
    groups: sudo
    shell: /bin/bash
    update_password: always
    home: "/home/{{ target_user }}"
  become: true
  tags: 
    - user    

# - name: Change home folder permissions
#   ansible.builtin.file:
#     path: "/home/{{ target_user }}"
#     owner: "{{ target_user }}"
#     group: "{{ target_user }}"
#     state: directory
#     mode: 0765

- name: User - Create SSH directory 
  ansible.builtin.file:
    path: "/home/{{ target_user }}/.ssh"
    state: directory
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0700
  tags: 
    - user  

- name: User - Generate SSH key 
  user:
    name: "{{ target_user }}"
    generate_ssh_key: yes
    ssh_key_type: rsa
    ssh_key_bits: 4096
    ssh_key_file: "/home/{{ target_user }}/.ssh/id_rsa"  
  tags: 
    - user  

- name: User - Check if /etc/sudoers has the user already
  ansible.builtin.lineinfile:
    state: absent
    path: /etc/sudoers
    regexp: "^{{ target_user }}"
  check_mode: true
  changed_when: false 
  register: check
  become: true
  tags: 
    - user    

- name: User - Print if sudoers has user
  ansible.builtin.debug:
    msg: lineinefile found /etc/sudoers has {{ target_user }}
  when: check.found
  become: true
  tags: 
    - user    

- name: User - Print if sudoers does not have user
  ansible.builtin.debug:
    msg: lineinefile did not find /etc/sudoers has {{ target_user }}
  when: not check.found
  become: true
  tags: 
    - user    

- name: User - update sudoers file for user
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: '{{ target_user }} ALL=(ALL) NOPASSWD: ALL'
  when: not check.found
  tags: 
    - user  
