---
- name: Setting up user
  ansible.builtin.debug:
    msg: Setting root user and default user.

# - name: TODO set root user path

# - name: TODO create  user and set password
- name: Add the user {{ user }}
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /bin/bash
    home: "/home/{{ user }}"

# TODO set as default user

# - name: TODO set default user to sudoers

# - name: TODO set default user path



