---
- name: Ensure sudo group is present
  group:
    name: sudo
    state: present

- name: Add the user {{ target_user }}
  ansible.builtin.user:
    name: "{{ target_user }}"
    password: "{{ target_user | password_hash('sha512') }}"
    groups: sudo
    shell: /bin/bash
    update_password: always
    home: "/home/{{ target_user }}"
  become: true

- name: Create SSH directory 
  file:
    path: "/home/{{ target_user }}/.ssh"
    state: directory
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0700

- name: Generate SSH key 
  user:
    name: "{{ target_user }}"
    generate_ssh_key: yes
    ssh_key_type: rsa
    ssh_key_bits: 4096
    ssh_key_file: "/home/{{ target_user }}/.ssh/id_rsa"  

# - name: Check that the /etc/wsl.conf exists
#   stat:
#     path: /etc/wsl.conf
#   register: wslconf_exists

# - name: enable systemd, if wsl.conf exists
#   ansible.builtin.blockinfile:
#     path: /etc/wsl.conf
#     block:  |
#       [boot]
#       systemd=true
#       [user]
#       default={{ target_user }}
#     marker: "## {mark} ANSIBLE MANAGED BLOCK"
#     create: true

- name: Check if /etc/sudoers has the user already
  ansible.builtin.lineinfile:
    state: absent
    path: /etc/sudoers
    regexp: "^{{ target_user }}"
  check_mode: true
  changed_when: false 
  register: check

- name: Print lineinfile if sudoers has user
  ansible.builtin.debug:
    msg: lineinefile found /etc/sudoers has {{ target_user }}
  when: check.found

- name: Print lineinfile if sudoers does not have user
  ansible.builtin.debug:
    msg: lineinefile did not find /etc/sudoers has {{ target_user }}
  when: not check.found

- name: update sudoers file for user
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: '{{ target_user }} ALL=(ALL) NOPASSWD: ALL'
  when: not check.found
