---
- name: Ensure sudo group is present
  group:
    name: sudo
    state: present

- name: Add the user {{ target_user }}
  ansible.builtin.user:
    name: "{{ target_user }}"
    password: "{{ target_user | password_hash('sha512') }}"
    groups: sudo
    shell: /bin/bash
    update_password: always
    home: "/home/{{ target_user }}"
  become: true

# TODO set as default user

- name: Create SSH directory 
  file:
    path: "/home/{{ target_user }}/.ssh"
    state: directory
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0700

- name: Generate SSH key 
  user:
    name: "{{ target_user }}"
    generate_ssh_key: yes
    ssh_key_type: rsa
    ssh_key_bits: 4096
    ssh_key_file: "/home/{{ target_user }}/.ssh/id_rsa"  

# - name: Transfer public key to the target host
#   authorized_key:
#     user: baeldung
#     key: "{{ lookup('file', '/home/vagrant/.ssh/id_rsa.pub') }}" 




