---
- name: update apt cache
  become: true  
  apt:
    update_cache: yes
  when: ansible_pkg_mgr == "apt"

- name: update dnf cache
  become: true  
  dnf:
    update_cache: yes
  when: ansible_pkg_mgr == "dnf"

- name: update apk cache
  become: true  
  community.general.apk:
    update_cache: yes
  when: ansible_pkg_mgr == "apk"

- name: upgrade all packages
  become: true
  package:
    name: "*"
    state: latest

- name: Install packages
  become: true  
  apt:
    name: "{{ packages_ubuntu }}"
  
# TODO install packages for dnf and apk
# TODO setup package lists for fedora and alpine
# TODO different package lists for light or full install