---
- name: update apt cache
  apt:
    update_cache: yes
  become: true
  tags: packages
  when: is_ubuntu

- name: update dnf cache
  dnf:
    update_cache: yes
  become: true
  tags: packages
  when: is_fedora

- name: update apk cache
  community.general.apk:
    update_cache: yes
  become: true
  tags: packages
  when: is_alpine

# - name: Update all Debian/Ubuntu packages to their latest version
#   ansible.builtin.apt:
#     name: "*"
#     state: latest
#   become: yes
#   tags: packages
#   when: is_ubuntu

- name: Install ubuntu packages
  apt:
    name: "{{ packages_ubuntu }}"
  become: true
  tags: packages
  when: is_ubuntu
  
# - name: Upgrade all fedora packages
#   ansible.builtin.dnf:
#     name: "*"
#     state: latest
#   become: yes
#   when: is_fedora

- name: Install fedora packages
  dnf:
    name: "{{ packages_fedora }}"
  become: true
  when: is_fedora

# - name: Update all installed alpine packages to the latest versions
#   community.general.apk:
#     upgrade: true
#   become: yes
#   when: is_alpine

- name: Install alpine packages
  community.general.apk:
    name: "{{ packages_alpine }}"
  become: true
  when: is_alpine
