---
- name: Copy content of directory 'files'
  copy:
    src: devsetup    
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0744'
  tags: upgrade
  become: true

- name: Copy content of directory 'files'
  copy:
    src: ubuntu2004    
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0744'
  tags: upgrade
  become: true

- name: Copy file with owner and permissions
  ansible.builtin.copy:
    src: ubuntu-variables.sh 
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0744'
  tags: upgrade
  become: true





