---
- name: Remove devsetup.zip file if present
  ansible.builtin.file:
    path: "{{ user_home }}/tmp/{{ item }}"
    state: absent
  with_items:
    - devsetup.zip
    - ubuntu2004.zip
  tags: bash_extra
  become: true

- name: Copy devsetup.zip file
  copy:
    src: devsetup.zip    
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0744'
  tags: bash_extra
  become: true

- name: Extract devsetup.zip into {userhome}/tmp
  ansible.builtin.unarchive:
    src: "{{ user_home }}/tmp/devsetup.zip"
    dest: "{{ user_home }}/tmp"
    mode: '0744'
  tags: bash_extra
  become: true

- name: Copy ubuntu2004.zip file
  copy:
    src: ubuntu2004.zip    
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0744'
  tags: bash_extra
  become: true

- name: Extract ubuntu2004.zip into {userhome}/tmp
  ansible.builtin.unarchive:
    src: "{{ user_home }}/tmp/ubuntu2004.zip"
    dest: "{{ user_home }}/tmp"
    mode: '0744'
  tags: bash_extra
  become: true

- name: Copy ubuntu-variables.sh file with owner and permissions
  ansible.builtin.copy:
    src: ubuntu-variables.sh 
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0744'
  tags: bash_extra
  become: true

- name: Remove install files
  ansible.builtin.file:
    path: "{{ user_home }}/tmp/{{ item }}"
    state: absent
  with_items:
    - devsetup.zip
    - ubuntu2004.zip
  tags: bash_extra
  become: true





