---
# - name: Remove Helm env plugin
#   kubernetes.core.helm_plugin:
#     plugin_name: helm-s3
#     state: absent
#   tags: helm_install
#   become: true

- name: remove existing helm
  ansible.builtin.file:
    state: absent
    path: "/usr/local/bin/helm"
  tags: helm_install
  become: true

- name: Download helm to temp folder
  get_url: url=https://get.helm.sh/helm-v3.7.2-linux-amd64.tar.gz dest="{{ user_home }}/tmp/"
  tags: helm_install
  become: true

- name: unzip/untar helm
  ansible.builtin.unarchive:
    src: "{{ user_home }}/tmp/helm-v3.7.2-linux-amd64.tar.gz"
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}" 
    group: "{{ target_user }}" 
    mode: '0755'
  tags: helm_install
  become: true

- name: install helm files to binary folder
  copy:
    src: "{{ user_home }}/tmp/linux-amd64/helm"
    dest: "/usr/local/bin"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0744'
  tags: helm_install
  become: true

- name: Install Helm env plugin
  kubernetes.core.helm_plugin:
    plugin_path: https://github.com/adamreese/helm-env
    state: present
  tags: helm_install
  become: true

- name: install helm plugins
  kubernetes.core.helm_plugin:
    # binary_path: "{{ user_home }}/bin"
    plugin_path: https://github.com/hypnoglow/helm-s3.git
    state: present
  tags: helm_install
  become: true

- name: remove existing helm temp files
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/tmp/linux-amd64"
  tags: helm_install
  become: true


# #helm repo add aa-charts s3://aa-helm-charts
# #helm search aa-charts
# #helm list