---
- name:  Remove Helm plugins
  ansible.builtin.file:
    path: "{{ user_home }}/.local/share/helm/plugins/"
    state: absent
  tags: 
    - helm
    - container
  become: true


- name: remove existing helm
  ansible.builtin.file:
    state: absent
    path: "/usr/local/bin/helm"
  tags: 
    - helm
    - container
  become: true

- name: Add a line to /etc/resolv.conf
  ansible.builtin.lineinfile:
    path: /etc/resolv.conf
    line: nameserver 8.8.8.8
    create: yes  
  tags: 
    - helm
    - container
  become: true

- name: Download helm to temp folder
  get_url: 
    url:  "https://get.helm.sh/helm-{{ helm_version }}-linux-amd64.tar.gz" 
    dest: "{{ user_home }}/tmp/helm-{{ helm_version }}-linux-amd64.tar.gz"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0766'
  tags: 
    - helm
    - container
  become: true

- name: remove a line to /etc/resolv.conf
  ansible.builtin.lineinfile:
    path: /etc/resolv.conf
    state: absent 
    regexp: "^nameserver 8.8.8.8"
  tags: 
    - helm
    - container
  become: true

- name: unzip/untar helm
  ansible.builtin.unarchive:
    src: "{{ user_home }}/tmp/helm-{{ helm_version }}-linux-amd64.tar.gz"
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}" 
    group: "{{ target_user }}" 
    mode: '0766'
  tags: 
    - helm
    - container
  become: true

- name: install helm files to binary folder
  copy:
    src: "{{ user_home }}/tmp/linux-amd64/helm"
    dest: "/usr/local/bin"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0766'
  tags: 
    - helm
    - container
  become: true

- name: Create helm plugin dir
  ansible.builtin.file:
    path: "{{ user_home }}/.local/share/helm/plugins/helm-s3.git" 
    state: directory
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0775'
  tags: 
    - helm
    - container

- name: Download helm-s3 plugin
  get_url: url=https://github.com/hypnoglow/helm-s3/releases/download/v0.16.2/helm-{{ helm_s3plugin_version }}_linux_amd64.tar.gz dest="{{ user_home }}/tmp/"
  become: true  
  tags: 
    - helm
    - container

- name: Unarchive helm-s3 plugin
  unarchive: 
    src: "{{ user_home }}/tmp/helm-{{ helm_s3plugin_version }}_linux_amd64.tar.gz" 
    dest: "{{ user_home }}/.local/share/helm/plugins/helm-s3.git" 
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0755'
  tags: 
    - helm
    - container
  become: true  

- name: Install helm-env plugin
  ansible.builtin.git:
    repo: 'https://github.com/adamreese/helm-env'
    dest: "{{ user_home }}/.local/share/helm/plugins/helm-env"
  tags: 
    - helm
    - container
  become: true

- name: change plugin folder ownership
  ansible.builtin.file:
    path: "{{ user_home }}/.local/share/helm/plugins/helm-env"
    state: directory
    recurse: yes
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0755'
  tags: 
    - helm
    - container
  become: true

- name: change plugin folder ownership 2
  ansible.builtin.file:
    path: "{{ user_home }}/.local/share/helm/plugins/helm-s3.git/bin"
    state: directory
    recurse: yes
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0755'
  tags: 
    - helm
    - container
  become: true

- name: remove existing helm temp files
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/tmp/linux-amd64"
  tags: 
    - helm
    - container
  become: true

