---
- name:  Remove Helm plugins
  ansible.builtin.file:
    path: "{{ user_home }}/.local/share/helm/plugins/"
    state: absent
  tags: helm_install
  become: true


- name: remove existing helm
  ansible.builtin.file:
    state: absent
    path: "/usr/local/bin/helm"
  tags: helm_install
  become: true

- name: Download helm to temp folder
  get_url: url=https://get.helm.sh/helm-v3.7.2-linux-amd64.tar.gz dest="{{ user_home }}/tmp/"
  tags: helm_install
  become: true

- name: unzip/untar helm
  ansible.builtin.unarchive:
    src: "{{ user_home }}/tmp/helm-v3.7.2-linux-amd64.tar.gz"
    dest: "{{ user_home }}/tmp"
    owner: "{{ target_user }}" 
    group: "{{ target_user }}" 
    mode: '0755'
  tags: helm_install
  become: true

- name: install helm files to binary folder
  copy:
    src: "{{ user_home }}/tmp/linux-amd64/helm"
    dest: "/usr/local/bin"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0755'
  tags: helm_install
  become: true

- name: Install helm-s3 plugin
  ansible.builtin.git:
    repo: 'https://github.com/hypnoglow/helm-s3.git'
    dest: "{{ user_home }}/.local/share/helm/plugins/helm-s3.git"
  tags: helm_install
  become: true

- name: Install helm-env plugin
  ansible.builtin.git:
    repo: 'https://github.com/adamreese/helm-env'
    dest: "{{ user_home }}/.local/share/helm/plugins/helm-env"
  tags: helm_install
  become: true


- name: remove existing helm temp files
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/tmp/linux-amd64"
  tags: helm_install
  become: true


# #helm repo add aa-charts s3://aa-helm-charts
# #helm search aa-charts
# #helm list