
# cd $temp_folder
# curl -O https://s3.us-west-2.amazonaws.com/amazon-eks/1.25.6/2023-01-30/bin/linux/amd64/kubectl
# chmod +x ./kubectl
# cp ./kubectl $HOME/bin/kubectl
# rm ./kubectl
# mkdir ${HOME}/.kube -p
# # echo 'export KUBECONFIG=${HOME}/.kube/config' >> ~/.bash_profile



