# # k9s
# # echo "##    Installing k9s..."  >> $install_log 2>&1
# cd $temp_folder
# wget https://github.com/derailed/k9s/releases/download/v0.27.4/k9s_Linux_amd64.tar.gz
# tar -xvf k9s_Linux_amd64.tar.gz
# mv ./k9s $HOME/bin

---
- name: remove existing bin k9s 
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/bin/k9s"
  tags: k9s_install
  become: true

- name: remove existing tmp k9s 
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/tmp/k9s"
  tags: k9s_install
  become: true

- name: remove existing  k9s archive
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/tmp/k9s_Linux_amd64.tar.gz"
  tags: k9s_install
  become: true

- name: Download the k9s
  get_url: url=https://github.com/derailed/k9s/releases/download/v0.27.4/k9s_Linux_amd64.tar.gz dest="{{ user_home }}/tmp/"
  tags: k9s_install

- name: Unarchive k9s
  unarchive: src="{{ user_home }}/tmp/k9s_Linux_amd64.tar.gz" dest="{{ user_home }}/tmp" 
  tags: k9s_install

- name: Install k9s package
  copy:
    src: "{{ user_home }}/tmp/k9s"
    dest: "{{ user_home }}/bin/"
    mode: 0755
    owner: "{{ target_user }}" 
    group: "{{ target_user }}"
  tags: k9s_install
  become: true

- name: remove existing k9s file
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/tmp/{{item}}"
  with_items:
    - k9s
    - LICENSE
    - README.md
  tags: k9s_install
  become: true

- name: remove existing  k9s archive
  ansible.builtin.file:
    state: absent
    path: "{{ user_home }}/tmp/k9s_Linux_amd64.tar.gz"
  tags: k9s_install
  become: true
