# # k9s
# # echo "##    Installing k9s..."  >> $install_log 2>&1
# cd $temp_folder
# wget https://github.com/derailed/k9s/releases/download/v0.27.4/k9s_Linux_amd64.tar.gz
# tar -xvf k9s_Linux_amd64.tar.gz
# mv ./k9s $HOME/bin
