---
- name: Print 
  ansible.builtin.debug:
    msg: install git, lazygit and configuring github for {{ target_user }}

- name: fetch all public ssh keys
  shell: cat "/home/{{ target_user }}/.ssh/id_rsa.pub"
  register: ssh_publickey

- name: Setup github ssh keys
  uri:
    url: https://api.github.com/user/keys
    method: POST
    body: "{ \"title\":\"{{ github_keyname }}\",\"key\":\"{{ ssh_publickey.stdout }}\" }"
    body_format: json
    headers:
      Content-Type: application/json
    user: "{{ githubuser }}"
    password: "{{ githubpass }}"
    status_code: [200, 201, 422, 304]
    force_basic_auth: true
  
