---
- name: Print 
  ansible.builtin.debug:
    msg: install git, lazygit and configuring github for {{ target_user }}

- name: fetch root public ssh key
  shell: cat "{{ root_user_home }}/.ssh/id_rsa.pub"
  register: root_ssh_publickey
  become: true

- name: Setup root github ssh keys
  uri:
    url: https://api.github.com/user/keys
    method: POST
    body: "{ \"title\":\"{{ root_github_keyname }}\",\"key\":\"{{ root_ssh_publickey.stdout }}\" }"
    body_format: json
    headers:
      Content-Type: application/json
    user: "{{ githubuser }}"
    password: "{{ githubpass }}"
    status_code: [200, 201, 422, 304]
    force_basic_auth: true

- name: ensure github.com is a known host
  lineinfile:
    dest: /root/.ssh/known_hosts
    create: yes
    state: present
    line: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
    regexp: "^github\\.com"
  become: true
  
- name: fetch user public ssh key
  shell: cat "/home/{{ target_user }}/.ssh/id_rsa.pub"
  register: ssh_publickey
  become: true

- name: Setup user github ssh keys
  uri:
    url: https://api.github.com/user/keys
    method: POST
    body: "{ \"title\":\"{{ github_keyname }}\",\"key\":\"{{ ssh_publickey.stdout }}\" }"
    body_format: json
    headers:
      Content-Type: application/json
    user: "{{ githubuser }}"
    password: "{{ githubpass }}"
    status_code: [200, 201, 422, 304]
    force_basic_auth: true

