<monitors version="2">
  <configuration>
    <logicalmonitor>
      <x>0</x>
      <y>0</y>
      <scale>1</scale>
      <primary>yes</primary>
      <monitor>
        <monitorspec>
          <connector>XWAYLAND0</connector>
          <vendor>unknown</vendor>
          <product>unknown</product>
          <serial>unknown</serial>
        </monitorspec>
        <mode>
          <width>{{ xwayland_resolution.split('x')[0] }}</width>
          <height>{{ xwayland_resolution.split('x')[1] }}</height>
          <rate>{{ monitor_refresh_rate }}</rate>
        </mode>
      </monitor>
    </logicalmonitor>
  </configuration>
</monitors>
