---
- set_fact: is_apt=false
- set_fact: is_dnf=false
- set_fact: is_apk=false
- set_fact: is_ubuntu=false
- set_fact: is_fedora=false
- set_fact: is_alpine=false
- set_fact: is_debian=false
- set_fact: is_wsl=false

- name: Check distribution
  shell: cat "/etc/os-release"  | grep ^ID_LIKE=
  register: distro_name_1
  become: true

- name: check if apt package manager is installed
  set_fact:
    is_apt:  true 
  when: ansible_pkg_mgr == "apt"

- name: check if dnf package manager is installed
  set_fact:
    is_dnf: true 
  when: ansible_pkg_mgr == "dnf"

- name: check if apk package manager is installed
  set_fact:
    is_apk: true
  when: ansible_pkg_mgr == "apk"
  
- name: Set Distribution Ubuntu
  set_fact:
    is_ubuntu: true
  when: "'debian' in distro_name_1.stdout|lower"

- name: Set Distribution Fedora
  set_fact:
    is_fedora: true
  when: "'fedora' in distro_name_1.stdout|lower"

- name: Set Distribution Alpine
  set_fact:
    is_alpine: true
  when: "'alpine' in distro_name_1.stdout|lower"
  
- name: Set Distribution Debian
  set_fact: 
    is_debian: true
  when: "'debian' in distro_name_1.stdout|lower"

- name: Run command for wsl
  shell:  "uname -a"
  register: uname_output

- name: Set wsl variable if running under wsl
  set_fact:
    is_wsl: true
  when: "'wsl' in uname_output.stdout|lower"

- name: Generate a random number
  set_fact:
    randome_number: "{{ 10 | random }}"
  run_once: yes    

- name: Set user github keyname
  set_fact:
    github_keyname: "{{ ansible_hostname }}-{{inventory_hostname}}-{{ target_user }}-{{ randome_number }}"
  run_once: yes    

- name: Set root github keyname
  set_fact:
    root_github_keyname: "{{ ansible_hostname }}-{{inventory_hostname}}-{{ root_user }}-{{ randome_number }}"
  run_once: yes    



  
