---
- set_fact:
    is_apt: false
- set_fact:
    is_dnf: false
- set_fact:
    is_apk: false
- set_fact:
    is_ubuntu: false
- set_fact:
    is_fedora: false
- set_fact:
    is_alpine: false
- set_fact:
    is_debian: false
- set_fact:
    is_wsl: false
- set_fact:
    github_skipped: false
- set_fact:
    gui_skipped: false

- name: Set github_skipped when github or git tag is skipped
  set_fact:
    github_skipped: true
  when: "'github' in (ansible_skip_tags | default([])) or 'git' in (ansible_skip_tags | default([]))"
  tags:
    - always

- name: Set gui_skipped when gui tag is skipped
  set_fact:
    gui_skipped: true
  when: "'gui' in (ansible_skip_tags | default([]))"
  tags:
    - always

- name: Check distribution
  shell: cat "/etc/os-release"  | grep ^ID=
  register: distro_name_2
  become: true
  ignore_errors: yes
  check_mode: no


- name: Register id value from /etc/os-release
  set_fact:
    os_id: "{{ distro_name_2.stdout }}"
  check_mode: no
  
- name: check if apt package manager is installed
  set_fact:
    is_apt:  true 
  when: ansible_pkg_mgr == "apt"
  check_mode: no

- name: check if dnf package manager is installed
  set_fact:
    is_dnf: true 
  when: ansible_pkg_mgr == "dnf"
  check_mode: no

- name: check if apk package manager is installed
  set_fact:
    is_apk: true
  when: ansible_pkg_mgr == "apk"
  check_mode: no
  
- name: Set Distribution Ubuntu
  set_fact:
    is_ubuntu: true
    os_name: "ubuntu"
  when: "'ubuntu' in (os_id | lower)"
  check_mode: no

- name: Set Distribution Fedora
  set_fact:
    is_fedora: true
    os_name: "fedora"
  when: "'fedora' in (os_id | lower)"
  check_mode: no

- name: Set Distribution Alpine
  set_fact:
    is_alpine: true
    os_name: "alpine"
  when: "'alpine' in (os_id | lower)"
  check_mode: no
  
- name: Set Distribution Debian
  set_fact: 
    is_debian: true
    os_name: "debian"
  when: "'debian' in (os_id | lower)"
  check_mode: no

- name: Run command for wsl
  shell:  "uname -a"
  register: uname_output
  check_mode: no

- name: Set wsl variable if running under wsl
  set_fact:
    is_wsl: true
  when: "'wsl' in (uname_output.stdout | lower)"
  check_mode: no

- name: Generate a random number
  set_fact:
    random_number: "{{ 100 | random }}"
  run_once: yes    
  check_mode: no

# - name: Execute the env command and capture the output
#   shell: env | regex_search('WSL_DISTRO_NAME=([^\\n]+)')  | cut -d : -f 1
#   register: env_output

- name: Execute the bash command with pipes
  shell: |
    env | grep  'WSL_DISTRO_NAME=' | cut -d = -f 2
  register: command_output

- name: Extract the WSL_DISTRO_NAME value using regex
  set_fact:
    wsl_distro_name: "{{ command_output.stdout }}"

- name: Set user github keyname
  set_fact:
    github_keyname: "{{ ansible_hostname }}-{{ target_user }}-{{ wsl_distro_name }}"
  run_once: yes
  check_mode: no    

- name: Set root github keyname
  set_fact:
    root_github_keyname: "{{ ansible_hostname }}-{{ root_user }}-{{ wsl_distro_name }}"
  run_once: yes    
  check_mode: no



  
